
#figHeader {
    width: 320px;
}
#spanCat{
    float: right;
    margin-right: 5%;
}

#article1, #mainSectionBlog {
    padding: 20px 20px 20px 20px;
}

#article1Side {
    background-color: #DBC9DF;
    color: white;
    margin: 0 0 0 0px;
    padding: 0px 10px 10px 10px;
    width: 100%;
}

#mainSectionAdd{
    padding: 50px 50px 50px 50px;
    flex: auto;
    float: none;
    display: flex;
}

h1, h2, h3 {
    text-transform: capitalize;
    margin: 0 0 0 0px;
    padding: 0px 0 0 0px;
}

h2, h3 {
    padding: 10px 0 0 0px;
}

#mainSection {
    margin: 0 0 0 -2%;
}

